{:paths   ["src"]
 :deps    {org.clojure/clojure          {:mvn/version "1.10.3"}
           codesmith/blocks             {:git/url "https://github.com/codesmith-gmbh/blocks.git"
                                         :sha     "f94e38c05300458effd06f9955fcdac830dd357e"}
           io.pedestal/pedestal.service {:mvn/version "0.5.9"}
           io.pedestal/pedestal.jetty   {:mvn/version "0.5.9"}
           ring/ring-core               {:mvn/version "1.9.3"}}
 :aliases {:dev      {:extra-paths ["dev"]
                      :extra-deps  {integrant/integrant    {:mvn/version "0.8.0"}
                                    integrant/repl         {:mvn/version "0.3.2"}
                                    org.slf4j/slf4j-simple {:mvn/version "1.7.31"}}}
           :test     {:extra-paths ["test"]}
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "0.15.3"}}
                      :main-opts  ["-m" "antq.core"]}
           }}
